<html>
<head>
    <!-- Compiled and minified CSS -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"></head>
<body>
<nav class="nav-extended light-blue lighten-1">
        <div class=" container nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo">SLIDY</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
				{% if user.is_authenticated %}
                	<li><a href="{% url 'auth_logout' %}?next=/login">Log out</a></li>
                {% else %}
                   	<li><a href="{% url 'auth_login' %}">Login</a></li>
                   	<li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="mobile-demo">
                {% if user.is_authenticated %}
                	<li><a href="{% url 'auth_logout' %}?next=/login">Log out</a></li>
                {% else %}
                   	<li><a href="{% url 'auth_login' %}">Login</a></li>
                   	<li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
       {% block head_list %}
       {% endblock %}
    </nav>
    <div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
       {% load static %}
 <script src="{% static 'js/init.js'%}"></script>

</html>

