{% extends 'base.html' %} 

{% block head_list %}
<div class="nav-content">
    <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Room List</a></li>
        <li class="tab"><a href="#test2">Create Room</a></li>
    </ul>
</div>
{% endblock%}

{% block content %}
<div class="container-fluid">
<div id="test1" class="col s12">
    <div class="col s12 m7">
        <h3 class="header">Rooms List</h3>
        {% for room in rooms %}
	        <div class="card horizontal">
	            <div class="card-image">
	                <img height="100" width="100"src="/media/{{ room.image }}">
	            </div>
	            <div class="card-stacked">
	                <div class="card-content">
	                    <h4>{{ room.name }}</h4>
	                    <p>{{ room.description }}</p>
	                </div>
	                <div class="card-action">
	                    <a href="/room/{{room.id }}">Go to the room</a>
	                </div>
	            </div>
	        </div>
        {% endfor %}
    </div>
</div>
<div id="test2" class="col s12">
    <div class="container">
        <div class="row" style="background: #fff;">
            <h2>Create Room</h2>
            <form method="POST" enctype="multipart/form-data" class="post-form">{% csrf_token %}
            <div class="input-field col s12">
                {{ form.name }}
                <label for="name" class="active">Room Name</label>
            </div>
            <div class="input-field col s12">
                {{ form.description }}
                <label for="description" class="active">Room Name</label>
            </div>
            <div class="col s12 file-field input-field">
                <div class="btn">
                  <span>File</span>
                {{ form.image }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate valid" type="text">
                </div>
            </div>
            <div class="row center-align">
                <button type="submit" class="save btn btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}